http://:8000 {
	bind 127.0.0.1

	handle /api/* {
		request_body {
			max_size 950KB
		}
		reverse_proxy 127.0.0.1:8766
	}

	handle /static/* {
		reverse_proxy 127.0.0.1:8766
	}

	redir /hn /hn/

	handle_path /hn/* {
		request_body {
			max_size 950KB
		}
		reverse_proxy 127.0.0.1:8766
	}

	respond 404
}
